{% extends 'boards/base.html' %}
{% load bootstrap4 %}
{% block body %}
    <h1>Detail</h1>
    <hr />
    <p>글 번호 : {{ board.pk }}</p>
    <p>글 제목 : {{ board.title }}</p>
    <p>글 작성자 : {{ board.user.username }}</p>
    <p>글 내용 : {{ board.content}}</p>
    <p>글 생성시간 : {{ board.created_at }}</p>
    <p>글 수정시간 : {{ board.updated_at}}</p>
    <hr />
    <h4>Comments</h4>
    {% for comment in comments %}
    <div>
        <strong>{{ comment.user }}</strong>
        <span class="m1-3">{{ comment.content }}</span>
    </div>

    {% empty %}}
    <p>아직 댓글이 없습니다.</p>
    {% endfor %}

    {% if user.is_authenticated %}
    <form class="mt-3" action="{% url 'boards:comments_create' board.pk %}" method="post">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <input class = "btn btn-primary" type="submit">
    </form>
    {% else %}
    < br>
    <p>댓글을 작성하려면 <a href= "url 'accounts:login' ">로그인</a></p>
    {% endif %}
    <hr />
    {% if user.is_authenticated %} <!-- 요청을 보내는 유저가 게시글의 유저일때만 -->
    <form action="{% url 'boards:delete' board.pk %}" method="post">
        {% csrf_token %}
        <input class = "btn btn-danger" type="submit" value="삭제하기" />
    </form>
        <a class = "btn btn-warning" href="{% url 'boards:update' board.pk %}">[수정하기]</a>
    {% endif %}
    <a class = "btn btn-secondary" href="{% url 'boards:index' %}">[뒤로가기]</a>
{% endblock %}